<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" (click)="navigateToDefault()">
      <img class="logo" src="assets/img/Logo-hd-rent-a-car.png">
      Recueil des besoins
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToMyneeds()">Mes besoins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToAllNeeds()">Tous les besoins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToCreateNeed()">Créer un besoin</a>
        </li>

      </ul>
      <ul class="navbar-nav">
        <li class="navbar-text">
          Utilisateur : {{ currentUser.email }} 
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Se déconnecter</a>
        </li>
      </ul>
      
    </div>
  </nav>